<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Widgets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color:#DFCFBE;">

    <div class="container" style="background-color:#009B77;">
        <table class="table" style="background-color: lightblue">
            <h2>Widgets</h2>
            <tr>
                <th>ID2</th>
                <th>Name</th>
                <th>Description</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="widget : ${widgets}" th:object="${widget}">
                <td th:text="*{id}">Widget ID</td>
                <td th:text="*{name}">Widget Name</td>
                <td th:text="*{description}">Widget Description</td>
                <td><a class="btn btn-default" style="background-color:#EDF1FF;" href="#" th:href="@{'/widget/' + *{id}}">View</a> </td>
                <td><a class="btn btn-default" style="background-color:#EDF1FF;" href="#" th:href="@{'/widget/edit/' + *{id}}">Edit</a> </td>
                <td><a class="btn btn-default" style="background-color:#EDF1FF;" href="#" th:href="@{'/widget/delete/' +  *{id}}">Delete</a> </td>
            </tr>
        </table>

        <a th:href="@{'/widget/new'}" class="btn btn-default" style="background-color:#EDF1FF;">New</a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>